body {
  background-color: #c1cfea;
}

.App {
  .weather-section {
    .weather-row {
      justify-content: center;
      align-items: center;
    }
  }
  .weather-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
