$primary-background: #e5e4e2;
$primary-text-color: #1C2331;
$secondary-text-color: #868B94;

body {
  background-color: #c1cfea;
}

.App {
  .weather-section {
    .weather-row {
      justify-content: center;
      align-items: center;
    }
  }
  .weather-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .weather-header{
    display: flex;
    justify-content: center;
    font-size: 50px;
  }

  .search-container {
    display: flex;
    justify-content: center;
    margin: 15px;
    flex-direction: row;
    align-items: center;
  }

  .search-box {
    border: 2px solid #ffffff;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    overflow: hidden;
    background-color: #c1cfea;
    font-size: 14px;
  }

  .search-box::placeholder {
    text-indent: 5px;
  }

  .search-btn {
    border: 2px solid #ffffff;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: #c1cfea;
    font-size: 14px;
    margin-left: 5px;
  }
}
